/* MyComponent.css */
.custom-scrollbar {
  /* Set a fixed height and width for the container to enable scrolling */

  /* Enable scrolling and define scrollbar width and color */
  overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: thin; /* "auto", "thin", "none" */
  scrollbar-color: #888888 #f4f4f4; /* thumb color and track color */
}

/* Customize scrollbar track */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Customize scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888888 !important; /* color of the thumb */
  border-radius: 20px !important; /* border radius of the thumb */
}

/* Customize scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* color of the track */
}
